## First Python Code via IBM's Data Analyst Courses

In [1]:
a=5
a==6

False

In [2]:
b = 5
b != 6

True

In [3]:
"Ayuk" == "ayuk"

False

In [11]:
A = "A"
C = "c"
C>A

True

## Branching

In [36]:
age = 21

if age > 20:
    print("Yes, You're Eligible")
elif age == 20:
    print("Visit Cameroon!")
else:
    print("Go see meat loaf")
print("Move on")

Yes, You're Eligible
Move on

In [52]:
album_year = 2000
album_year = 2010

if album_year > 2004:
    print("Album is Available")
else:
    print("Not Available")
    print("Select different Album")

Album is Available

## Logical Operators

In [62]:
Dirth_of_Birth = 2001

if(Dirth_of_Birth > 1999) and (Dirth_of_Birth < 2011):
    print("You were born between 2000 and 2010")
    print("Have a seat")
else:
    print("Come back next year")

You were born between 2000 and 2010
Have a seat

## Quiz on Combinations

In [63]:
Album_Rating = 8.5
if Album_Rating > 8:
    print("This Album is Amazing!")

This Album is Amazing!

In [67]:
Album_Rating = 8
if Album_Rating > 8:
    print("This Album is Amazing!")
else:
    print("This Album is Ok")

This Album is Ok

In [74]:
Release_Year = 1991
if (Release_Year < 1980) or (Release_Year == 1991) or (Release_Year == 1993):
    print(Release_Year)

1991